[package]
name = "cennznet-primitives"
version = "1.0.0"
authors = ["Centrality Developers <support@centrality.ai>"]
edition = "2018"
repository = "https://github.com/cennznet/cennznet"

[dependencies]
codec = { version = "1.2.0", package = "parity-scale-codec", default-features = false, features = ["derive"] }
frame-support = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc3.1" }
sp-core = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc3.1" }
sp-runtime = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc3.1" }

[dev-dependencies]
pretty_assertions = "0.6.1"
sp-serializer = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc3.1" }


[features]
default = ["std"]
std = [
	"codec/std",
	"sp-core/std",
	"sp-runtime/std",
	"frame-support/std",
]
