[package]
name = "crml-sylo"
version = "0.1.0"
authors = ["Centrality Developers <support@centrality.ai>"]

[dependencies]
serde = { version = "1.0", default-features = false }
parity-codec = { version = "3.5.4", default-features = false, features = ["derive"] }
primitives = { package = "substrate-primitives", path = "../../../cennznet-plug-blockchain", default-features = false }
sr-std = { path = "../../../cennznet-plug-blockchain", default-features = false }
sr-io = { path = "../../../cennznet-plug-blockchain", default-features = false }
runtime-primitives = { package = "sr-primitives", path = "../../../cennznet-plug-blockchain", default-features = false }
srml-support = { path = "../../../cennznet-plug-blockchain", default-features = false }
srml-system = { path = "../../../cennznet-plug-blockchain", default-features = false }
srml-balances = { path = "../../../cennznet-plug-blockchain", default-features = false }

[dev-dependencies]
primitives = { package = "substrate-primitives", path = "../../../cennznet-plug-blockchain", default-features = false }
sr-io = { path = "../../../cennznet-plug-blockchain", default-features = false }
runtime-primitives = { package = "sr-primitives", path = "../../../cennznet-plug-blockchain", default-features = false }

[features]
default = ["std"]
std = [
	"parity-codec/std",
	"primitives/std",
	"sr-std/std",
	"sr-io/std",
	"runtime-primitives/std",
	"srml-support/std",
	"srml-system/std",
	"srml-balances/std",
]
