[package]
name = "cennznet-runtime"
version = "1.0.0"
authors = ["Centrality Developers <support@centrality.ai>"]
edition = "2018"
build = "build.rs"

[dependencies]
# third-party dependencies
codec = { package = "parity-scale-codec", version = "1.0.0", default-features = false, features = ["derive"] }
cennznut = { git = "https://github.com/cennznet/cennznut-rs", default-features = false, branch = "0.3.0" }
integer-sqrt = { version = "0.1.2" }
rustc-hex = { version = "2.0", optional = true }
safe-mix = { version = "1.0", default-features = false }
serde = { version = "1.0.101", optional = true }
sylo = { package = "crml-sylo", path = "../crml/sylo", default-features = false }
cennzx-spot = { package = "crml-cennzx-spot", path = "../crml/cennzx-spot", default-features = false }

# primitives
sp-authority-discovery = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
babe-primitives = { package = "sp-consensus-babe", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
cennznet-primitives = { path = "../primitives", default-features = false }
offchain-primitives = { package = "sp-offchain", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-core = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
rstd = { package = "sp-std", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-runtime = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-staking = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-keyring = { git = "https://github.com/plugblockchain/plug-blockchain", optional = true, branch = "1.0.0-rc2" }
sp-session = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-inherents = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-block-builder = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-transaction-pool = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-api = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
version = { package = "sp-version", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }

# frame dependencies
authority-discovery = { package = "pallet-authority-discovery", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
authorship = { package = "pallet-authorship", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
attestation = { package = "prml-attestation", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
babe = { package = "pallet-babe", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
collective = { package = "pallet-collective", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
contracts = { package = "pallet-contracts", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
contracts-rpc-runtime-api = { package = "pallet-contracts-rpc-runtime-api", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
democracy = { package = "pallet-democracy", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
elections-phragmen = { package = "pallet-elections-phragmen", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
executive = { package = "frame-executive", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
pallet-finality-tracker = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
generic-asset = { package = "pallet-generic-asset", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
grandpa = { package = "pallet-grandpa", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
im-online = { package = "pallet-im-online", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
indices = { package = "pallet-indices", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
membership = { package = "pallet-membership", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
offences = { package = "pallet-offences", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
prml-doughnut = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
randomness-collective-flip = { package = "pallet-randomness-collective-flip", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
session = { package = "pallet-session", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, features = ["historical"], branch = "1.0.0-rc2" }
staking = { package = "pallet-staking", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
pallet-staking-reward-curve = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sudo = { package = "pallet-sudo", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
frame-support = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
system = { package = "frame-system", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
system-rpc-runtime-api = { package = "frame-system-rpc-runtime-api", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
timestamp = { package = "pallet-timestamp", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
treasury = { package = "pallet-treasury", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
utility = { package = "pallet-utility", git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
transaction-payment = { package = "crml-transaction-payment", path = "../crml/transaction-payment", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }

[build-dependencies]
wasm-builder-runner = { package = "substrate-wasm-builder-runner", version = "1.0.4", git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }

[features]
default = ["std"]
std = [
	"sp-authority-discovery/std",
	"authority-discovery/std",
	"authorship/std",
	"attestation/std",
	"babe-primitives/std",
	"babe/std",
	"codec/std",
	"collective/std",
	"contracts/std",
	"contracts-rpc-runtime-api/std",
	"democracy/std",
	"elections-phragmen/std",
	"executive/std",
	"pallet-finality-tracker/std",
	"generic-asset/std",
	"grandpa/std",
	"im-online/std",
	"indices/std",
	"membership/std",
	"cennznet-primitives/std",
	"offchain-primitives/std",
	"offences/std",
	"sp-core/std",
	"randomness-collective-flip/std",
	"rstd/std",
	"rustc-hex",
	"safe-mix/std",
	"serde",
	"session/std",
	"sp-runtime/std",
	"sp-staking/std",
	"staking/std",
	"sp-keyring",
	"sp-session/std",
	"sudo/std",
	"frame-support/std",
	"system/std",
	"system-rpc-runtime-api/std",
	"timestamp/std",
	"treasury/std",
	"utility/std",
	"transaction-payment/std",
	"version/std",
	"prml-doughnut/std",
	"cennznut/std",
	"cennzx-spot/std",
	"sp-inherents/std",
	"sp-block-builder/std",
	"sp-api/std",
	"sp-inherents/std",
	"sp-block-builder/std",
	"sp-transaction-pool/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
]
