[package]
name = "cennznet-runtime"
version = "1.2.3"
authors = ["Centrality Developers <support@centrality.ai>"]
edition = "2018"
build = "build.rs"
repository = "https://github.com/cennznet/cennznet"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dev-dependencies]
cennznet-cli = { path = "../cli", default-features = false }
sp-keyring = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
wabt = "0.9.1"
# when running tests for the cennznet-runtime use the "integration_config" feature flag.
# This save us from cases such as 24 hour eras in staking/session tests.
# https://github.com/rust-lang/cargo/issues/2911#issuecomment-749580481
cennznet-runtime = { path = ".", features = ["integration_config"] }

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.5", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true, features = ["derive"] }
smallvec = "1.4.1"

pallet-authorship = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-authority-discovery = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-babe = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-finality-tracker = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-grandpa = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-identity = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-im-online = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-multisig = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-offences = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-randomness-collective-flip = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-treasury = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-scheduler = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-session = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4", features = ["historical"] }
pallet-sudo = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-timestamp = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-utility = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }

frame-executive = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
frame-support = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
frame-system = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }

sp-api = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-authority-discovery = {  git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4"}
sp-block-builder = {  git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4"}
sp-consensus-babe = {  git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-core = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-inherents = {  git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-io = {  git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-offchain = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-runtime = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-runtime-interface = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-session = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-std = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-transaction-pool = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-version = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
sp-staking = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }

prml-attestation = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
prml-generic-asset = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
prml-generic-asset-rpc-runtime-api = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
prml-support = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }

futures = { version = "0.3.1", features = ["compat"] }

# Used for the node template's RPCs
frame-system-rpc-runtime-api = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4" }

# Used for runtime benchmarking
frame-benchmarking = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4", optional = true }
frame-system-benchmarking = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, rev = "2.0.4", optional = true }
hex-literal = { version = "0.3.1", optional = true }

cennznet-primitives = { path = "../primitives", default-features = false }
crml-cennzx = { path = "../crml/cennzx", default-features = false }
crml-cennzx-rpc-runtime-api = { path = "../crml/cennzx/rpc/runtime-api", default-features = false }
crml-nft = { path = "../crml/nft", default-features = false }
crml-staking = { path = "../crml/staking", default-features = false}
crml-sylo = { path = "../crml/sylo", default-features = false}
crml-transaction-payment = { path = "../crml/transaction-payment", default-features = false}

[build-dependencies]
wasm-builder-runner = { package = "substrate-wasm-builder-runner", git = "https://github.com/plugblockchain/plug-blockchain", rev = "2.0.4" }

[features]
default = ["std"]
std = [
	"codec/std",
	"frame-executive/std",
	"frame-support/std",
	"pallet-authorship/std",
	"pallet-authority-discovery/std",
	"pallet-babe/std",
	"pallet-finality-tracker/std",
	"pallet-grandpa/std",
	"pallet-identity/std",
	"pallet-im-online/std",
	"pallet-multisig/std",
	"pallet-offences/std",
	"pallet-randomness-collective-flip/std",
	"pallet-scheduler/std",
	"pallet-session/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-treasury/std",
	"pallet-utility/std",
	"prml-attestation/std",
	"prml-generic-asset/std",
	"prml-generic-asset-rpc-runtime-api/std",
	"prml-support/std",
	"serde",
	"sp-api/std",
	"sp-authority-discovery/std",
	"sp-block-builder/std",
	"sp-consensus-babe/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-io/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-runtime-interface/std",
	"sp-session/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"frame-system/std",
	"frame-system-rpc-runtime-api/std",
	"cennznet-primitives/std",
	"crml-cennzx/std",
	"crml-cennzx-rpc-runtime-api/std",
	"crml-nft/std",
	"crml-staking/std",
	"crml-sylo/std",
	"crml-transaction-payment/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"hex-literal",
	"frame-system-benchmarking",
	"sp-runtime/runtime-benchmarks",
	"crml-cennzx/runtime-benchmarks",
	"crml-sylo/runtime-benchmarks",
	"crml-staking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
]
integration_config = []
test-doughnut = []