version: 2
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-cargo-global-cache-{{ checksum "Cargo.lock" }}
            - v3-cargo-global-cache-
      - run:
          name: Install rust
          command: |
            sudo apt-get update
            sudo apt-get autoremove
            sudo apt-get -y install apt-utils cmake pkg-config libssl-dev git llvm clang
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            source $HOME/.cargo/env
            rustup update stable
            rustup install nightly
            rustup target add wasm32-unknown-unknown --toolchain nightly
            command -v wasm-gc || cargo +nightly install --git https://github.com/alexcrichton/wasm-gc --force
            rustup target add x86_64-unknown-linux-musl --toolchain=nightly
            rustup component add rustfmt --toolchain=nightly
            rustc --version; cargo --version; rustup --version
      - save_cache:
          paths:
            - /home/circleci/.cargo
          key: v3-cargo-global-cache-{{ checksum "Cargo.lock" }}
      - restore_cache:
          keys:
            - v1-cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - run:
          name: Check format
          command: |
            source $HOME/.cargo/env
            cargo +nightly fmt
      - run:
          name: Build WASM
          command: |
            source $HOME/.cargo/env
            ./scripts/build.sh
      - run:
          name: Build
          command: |
            source $HOME/.cargo/env
            cargo build
          no_output_timeout: 30m
      - save_cache:
          paths:
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
          key: v1-cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - run:
          name: Run tests
          command: |
            source $HOME/.cargo/env
            cargo test --all --verbose --locked
