[package]
name = "cennznet-cli"
version = "1.0.0"
authors = ["Centrality Developers <support@centrality.ai>"]
build = "build.rs"
edition = "2018"

[dependencies]
#third-party-dependencies
codec = { package = "parity-scale-codec", version = "1.0.6" }
serde = { version = "1.0.102", features = ["derive"] }
futures = { version = "0.3.1", features = ["compat"] }
hex-literal = "0.2.1"
jsonrpc-core = "14.0.3"
log = "0.4.8"
rand = "0.7.2"
structopt = "=0.3.7"

#client dependencies
sc-authority-discovery = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-basic-authorship = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-chain-spec = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-client-db = { git = "https://github.com/plugblockchain/plug-blockchain", features = ["kvdb-rocksdb"], branch = "1.0.0-rc2" }
sc-consensus-babe = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-finality-grandpa = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-network = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-offchain = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-rpc = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-service = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-telemetry = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-transaction-pool = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }

#pritimitives
sc-client = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-consensus-babe = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-core = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-finality-grandpa = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-finality-tracker = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
sp-inherents = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-io = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-keyring = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-runtime = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }

#frame dependencies
frame-system = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
pallet-contracts = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
pallet-im-online = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }
pallet-indices = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
pallet-timestamp = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc2" }

#CLI-specific dependencies
node-transaction-factory = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2", optional = true }
sc-cli = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2", optional = true }
tokio = { version = "0.2", features = ["rt-threaded"], optional = true }
ctrlc = { version = "3.1.3", features = ["termination"], optional = true }

#cennznet dependencies
cennznet-executor = { path = "../executor" }
cennznet-primitives = { path = "../primitives" }
cennznet-rpc = { path = "../rpc" }
cennznet-runtime = { path = "../runtime" }

#CRML dependencies
crml-transaction-payment = { path="../crml/transaction-payment", default-features = false }

[dev-dependencies]
#third-party-dependencies
futures-preview = { version = "0.3.0-alpha.19" }
tempfile = "3.1.0"

#primitives and client dependencies
sc-consensus-babe = { git = "https://github.com/plugblockchain/plug-blockchain", features = ["test-helpers"], branch = "1.0.0-rc2" }
sc-keystore = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sc-service-test = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
sp-consensus = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }

[build-dependencies]
sc-cli = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
build-script-utils = { package = "substrate-build-script-utils", git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc2" }
structopt = "0.3.7"
vergen = "3.0.4"

[features]
default = ["cli"]
cli = [
	"sc-cli",
	"node-transaction-factory",
	"tokio",
	"ctrlc",
	"sc-service/rocksdb",
]