[package]
name = "cennznet-cli"
version = "1.1.0"
authors = ["Centrality Developers <support@centrality.ai>"]
description = "CENNZnet node implementation in Rust."
build = "build.rs"
edition = "2018"
license = "GPL-3.0"

[package.metadata.wasm-pack.profile.release]
# `wasm-opt` has some problems on linux, see
# https://github.com/rustwasm/wasm-pack/issues/781 etc.
wasm-opt = false

[dependencies]
# third-party dependencies
codec = { version = "1.3.0", package = "parity-scale-codec" }
serde = { version = "1.0.102", features = ["derive"] }
futures = { version = "0.3.1", features = ["compat"] }
hex-literal = "0.2.1"
jsonrpc-core = "14.0.3"
log = "0.4.8"
rand = "0.7.2"
structopt = { version = "0.3.8", optional = true }
tracing = "0.1.10"

# primitives
sp-authority-discovery = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-consensus-babe = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
grandpa-primitives = { package = "sp-finality-grandpa", git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-core = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-runtime = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-timestamp = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", default-features = false }
sp-finality-tracker = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", default-features = false }
sp-inherents = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-keyring = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-io = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-consensus  = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sp-transaction-pool = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }

# client dependencies
sc-client-api = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-client = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-chain-spec = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-transaction-pool = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-network = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-consensus-babe = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
grandpa = { package = "sc-finality-grandpa", git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4"  }
sc-offchain = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-client-db = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", default-features = false }
sc-rpc = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-basic-authorship = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-service = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", default-features = false }
sc-tracing = {git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-telemetry = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-authority-discovery = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }

# frame dependencies
pallet-timestamp = { git = "https://github.com/plugblockchain/plug-blockchain", default-features = false, branch = "1.0.0-rc4" }
pallet-contracts = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
frame-system = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
crml-transaction-payment = { path="../crml/transaction-payment", default-features = false } # pallet-transaction-payment specilised for cennznet
frame-support = { version = "2.0.0-alpha.5", git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", default-features = false }
pallet-im-online = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", default-features = false }
pallet-authority-discovery = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
pallet-generic-asset = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }

# cennznet dependencies
cennznet-runtime = { path = "../runtime" }
cennznet-rpc = { path = "../rpc" }
cennznet-primitives = { path = "../primitives" }
cennznet-executor = { path = "../executor" }

# CLI-specific dependencies
sc-cli = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", optional = true }
node-transaction-factory = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", optional = true }
node-inspect = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", optional = true }

[dev-dependencies]
sc-keystore = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-consensus-babe = { git = "https://github.com/plugblockchain/plug-blockchain", features = ["test-helpers"], branch = "1.0.0-rc4" }
sc-consensus-epochs = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
sc-service-test = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
futures = "0.3.1"
tempfile = "3.1.0"
assert_cmd = "0.12"
nix = "0.17"
serde_json = "1.0"

[build-dependencies]
build-script-utils = { package = "substrate-build-script-utils", git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
structopt = { version = "0.3.8", optional = true }
node-transaction-factory = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", optional = true }
node-inspect = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", optional = true }
frame-benchmarking-cli = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4", optional = true }
sc-cli = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "1.0.0-rc4" }
vergen = { version = "3.0.4", optional = true }

[features]
default = ["cli"]
cli = [
	"node-inspect",
	"node-transaction-factory",
	"sc-cli",
	"frame-benchmarking-cli",
	"sc-service/rocksdb",
    "structopt",
    "vergen",
]
