[package]
name = "cennznet-cli"
version = "1.1.0"
authors = ["Centrality Developers <support@centrality.ai>"]
description = "CENNZnet node implementation in Rust."
build = "build.rs"
edition = "2018"
license = "GPL-3.0"

[dependencies]
futures = { version = "0.3.1", features = ["compat"] }
serde = { version = "1.0.102", features = ["derive"] }
structopt = "0.3.8"

sc-authority-discovery = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-chain-spec = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-cli = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain", features = ["wasmtime"] }
sp-core = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-executor = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain", features = ["wasmtime"] }
sc-keystore = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-service = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain", features = ["wasmtime"] }
sp-inherents = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-transaction-pool = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-transaction-pool = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-consensus-babe = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-consensus-babe = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-consensus = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-consensus-epochs = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-consensus = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-network = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-finality-grandpa = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-finality-grandpa = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-client-api = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-runtime = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }

# These dependencies are used for the node RPCs
jsonrpc-core = "15.0.0"
pallet-transaction-payment-rpc = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-rpc = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-api = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-rpc-api = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-blockchain = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sp-block-builder = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-basic-authorship = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
substrate-frame-rpc-system = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-consensus-babe-rpc = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
sc-finality-grandpa-rpc = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }

# These dependencies are used for runtime benchmarking
frame-benchmarking = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }
frame-benchmarking-cli = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }

# cennznet dependencies
cennznet-primitives = { path = "../primitives" }
cennznet-runtime = { path = "../runtime" }
# cennznet custom RPCs
crml-cennzx-rpc = { path = "../crml/cennzx/rpc" }
prml-generic-asset-rpc = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }

[build-dependencies]
substrate-build-script-utils = { branch = "spike/2.0", git = "https://github.com/plugblockchain/plug-blockchain" }

[features]
default = []
runtime-benchmarks = [
	"cennznet-runtime/runtime-benchmarks",
]
