[package]
name = "prml-generic-asset"
version = "0.1.0"
authors = ["Centrality Developers <support@centrality.ai>"]
edition = "2018"

[dependencies]
serde = { version = "1.0", optional = true }
parity-codec = { version = "3.5.4", default-features = false, features = ["derive"] }
primitives = { package = "substrate-primitives", git = "https://github.com/cennznet/plug-blockchain", rev = "ca14f9e6", default-features = false }
runtime-primitives = { package = "sr-primitives", git = "https://github.com/cennznet/plug-blockchain", rev = "ca14f9e6", default-features = false }
rstd = { package = "sr-std", git = "https://github.com/cennznet/plug-blockchain", rev = "ca14f9e6", default-features = false }
runtime_io = { package = "sr-io", git = "https://github.com/cennznet/plug-blockchain", rev = "ca14f9e6", default-features = false }
support = { package="srml-support", git = "https://github.com/cennznet/plug-blockchain", rev = "ca14f9e6", default-features = false }
system = { package = "srml-system", git = "https://github.com/cennznet/plug-blockchain", rev = "ca14f9e6", default-features = false }

[features]
default = ["std"]
std =[
	"serde",
    "parity-codec/std",
    "primitives/std",
    "rstd/std",
    "runtime_io/std",
    "runtime-primitives/std",
    "support/std",
    "system/std",
]
