[package]
name = "crml-cennzx"
version = "1.0.0"
authors = ["Centrality Developers <support@centrality.ai>"]
edition = "2018"

[dependencies]
codec = { version = "1.3.5", package = "parity-scale-codec", default-features = false, features = ["derive"] }
primitive-types = { version = "0.7.2", default-features = false }
serde = { version = "1.0.102", optional = true }
cennznet-primitives = { path = "../../primitives", default-features = false }
frame-support = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }
frame-system = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }
frame-benchmarking = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false, optional = true }
prml-generic-asset = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }
prml-support = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }
sp-core = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }
sp-io = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }
sp-runtime = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }
sp-std = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau", default-features = false }

[dev-dependencies]
cennznet-runtime = { path = "../../runtime" }
sp-keyring = { git = "https://github.com/plugblockchain/plug-blockchain", branch = "hotfix/revive-nikau" }

[features]
default = ["std"]
std = [
	"codec/std",
	"primitive-types/std",
	"serde",
	"cennznet-primitives/std",
	"frame-support/std",
	"frame-system/std",
	"prml-generic-asset/std",
	"prml-support/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
runtime-benchmarks = [
	"frame-benchmarking"
]
